@model IEnumerable<SpointLiteVersion.Models.HosConsultas>

@{
    ViewBag.Title = "Consultas";
}


<div class="container">
    <div class="row">
        <div class="col-md-9 modal-content contedor" style="width:90%; margin-left:4%; margin-top:2%;">
            <h2 style="margin-left:30px; margin-bottom:35px;">Consultas</h2>
            <p>
                <Button onclick="location.href='@Url.Action("Create","Consultas")'" class="btn btn-success crear"><i class="fas fa-plus iconocrear"></i></Button>

            </p>
            <div class="row">
                <div class="modal-content" style="width:88%; margin-left:4%; margin-top:2%;">
                    @using (Html.BeginForm())
                    {
                        <table class="table  table-hover t tabla" id="tabla">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayName("PACIENTE")
                                    </th>
                                    <th>
                                        @Html.DisplayName("FECHA")
                                    </th>
                                    <th>
                                        @Html.DisplayName("HORA")
                                    </th>
                                    <th>
                                        @Html.DisplayName("EDAD")
                                    </th>
                                    <th>
                                        @Html.DisplayName("TELÉFONO")
                                    </th>
                                    <th>
                                        @Html.DisplayName("TIPO CONSULTA")
                                    </th>




                                    <th>ACCIONES</th>
                                </tr>
                            </thead>
                                @foreach (var item in Model)
                                {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.clientes.nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.fecha)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Hora)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.edad)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.telefono)
                                </td>



                                <td>
                                    @Html.DisplayFor(modelItem => item.TipoConsulta)
                                </td>

                                <td>
                                    <p id="editar">
                                        <a hidden href="@Url.Action("Create", "Consultas", new { id = item.idConsulta, idpaciente = "" })" class="edit" id="edita"><i class="fas fa-edit eliminar"></i></a>

                                    </p>
                                    <a href="@Url.Action("reporteActual", "Consultas", new { id = item.idConsulta })" class="" title="Ver"><i class="fas fa-eye eliminar"></i></a>

                                </td>
                            </tr>
                                }
                        </table>
                     
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/bower_components/jquery/dist/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $('#tabla').DataTable({
            "pageLength": 25,

                       "pagingType": "full_numbers", // "simple" option for 'Previous' and 'Next' buttons only
            "language": {
                "decimal": "",
                "emptyTable": "NO HAY INFORMACION",
                "info": "MOSTRANDO _START_ A _END_ de _TOTAL_ ENTRADAS",

                "infoEmpty": "MOSTRANDO 0 to 0 of 0 ENTRADAS",
                "infoFiltered": "(FILTRADO DE _MAX_ TOTAL ENTRADAS)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "MOSTRAR _MENU_ ENTRADAS",
                "loadingRecords": "CARGANDO...",
                "processing": "PROCESANDO...",
                "search": "BUSCAR:",
                "zeroRecords": "SIN RESULTADOS ENCONTRADOS",
                "paginate": {
                    "first": "PRIMERO",
                    "last": "ULTIMO",
                    "next": "SIGUIENTE",
                    "previous": "ANTERIOR"
                }
            }
        });
        $('.dataTables_length').addClass('bs-select');
    });
</script>
<script>
    $(document).ready(function () {

        $('#tabla tr').click(function (e) {
            e.preventDefault;
            var href = $(this).find(".edit").attr("href");
            if (href) {
                window.location = href;
            }
        });

    });

   
</script>