@model SpointLiteVersion.Models.CitasAgendadas

@{
    ViewBag.Title = "Create";
    Layout = null;
}

<style>
</style>
@using (Html.BeginForm("Create", "CitasAgendadas", FormMethod.Post, new { id = "myForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <center>
            <div>

                <label for="fotosubir">
                    <img src="~/Content/Login/images/consulta.png" alt="Alternate Text" id="fotoejemplo" style="width:90px; height:90px; margin-top:0px; margin-left:-50px;" />
                </label>
            </div>

        </center>
        <div class="form-row">
            @if (ViewBag.idpaciente != null)
            {
                <div class="form-group col-md-2">
                    @Html.Label("Id", htmlAttributes: new { @class = "control-label col-md-2" })
                    <input type="text" name="idaciente" class="form-control" id="idpaciente" readonly value="@ViewBag.idpaciente" />
                    @Html.ValidationMessageFor(model => model.idCita, "", new { @class = "text-danger" })

                </div>
            }
            @if (@ViewBag.id != null)
            {
                <div class="form-group col-md-2">


                    @Html.Label("Id", htmlAttributes: new { @class = "control-label col-md-2" })

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.EditorFor(model => model.idCita, new { htmlAttributes = new { @class = "form-control", @readonly = true } })

                </div>
            }
            <div class="col-md-6">
                @Html.Label("Fecha", new { @class = "control-label col-md-12", @style = "text-align:left;margin-left:-35px;" })
                <input type="date" name="fecha" value="@DateTime.Now.Year-@DateTime.Now.Month.ToString("00")-@DateTime.Now.Day.ToString("00")" class="form-control" style="margin-left:-20px;" id="fecha" value="" />
                @Html.ValidationMessageFor(model => model.fecha, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">

        </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.Label("Paciente", new { @class = "control-label col-md-2" })
                <input type="text" list="paciente2" name="idpacientes" id="idpacientes1" class="form-control" autocomplete="off" />

                <datalist id="paciente2">
                    @foreach (var m in ViewBag.idpaciente1)
                    {
                        <option value="@m.Text" data-id="@m.Value" />
                    }
                </datalist>
                @*@Html.DropDownList("idpaciente", null, htmlAttributes: new { @class = "form-control" })*@
                @Html.ValidationMessageFor(model => model.idpaciente, "", new { @class = "text-danger" })
            </div>
            <div class="form-group" hidden>
                @Html.Label("Paciente", new { @class = "control-label col-md-2" })

                @Html.DropDownList("idpaciente1", null, "", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idpaciente, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.Label("Motivo", new { @class = "control-label col-md-12", @style = "text-align:left;" })

                @Html.EditorFor(model => model.MotivoCita, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MotivoCita, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-row">

            <div class="form-group">
                <div class="form-group col-md-10">

                    @if (ViewBag.id != null)
                    {
                        <a class="btn btn-danger btnelimina modaleliminar" id="elimin" href="#" style="margin-bottom:-53px;" ><i class="fas fa-trash"></i></a>

                    }
                </div>
                @*<div class="form-group col-md-1">
                        <button type="button" class="btn btn-info" id="crear"><i class="fas fa-arrow-circle-left"></i></button>

                    </div>*@
            </div>
        </div>
    </div>
}
<div class="modal fade modalciudad" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog model" id="modal" role="document">
        <div class="modal-content" id="contentmost" style="width:147%; margin-top:-72px;">
            <div class="modal-header" id="headmodal">
                <div class="form-row">
                    <div class="form-group col-md-11" style="margin-bottom:0px !important; height:0px;">
                        <p style="text-align:center; margin-top:-13px; margin-left:60px;">ELIMINAR</p>
                    </div>
                    <div class="form-group col-md-1" style="margin-bottom:0px !important;">

                        <button type="button" id="cerrar1" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body" style="padding:0px !important;">


                <div class="comprobante1" id="contenido">


                </div>
                @*<div class=" btncrearconsult">
                        <button type="button" class="btn btn-info" id="crear" style="margin-bottom:20px;"><i class="fas fa-arrow-circle-left"></i></button>
                    </div>*@
            </div>
            @*<div class="modal-footer">
                    <button class="mybtn" id="mybtn">Cerrar</button>
                </div>*@
        </div>
    </div>
</div>
<script src="~/Content/bower_components/jquery/dist/jquery.min.js"></script>
<script src="~/Content/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        //$("#idpaciente1 option[value=2]").attr("selected", true);
        var datospaciente = $('select[name="idpaciente1"] option:selected').text();

        $("#idpacientes1").val(datospaciente);
        $("#idpacientes1").focus();


    });
</script>
<script>

    $(document).ready(function () {


        $("a[rel='pop-up']").click(function () {
            var caracteristicas = "height=550,width=1000,scrollTo,resizable=1,scrollbars=1,location=0";
            nueva = window.open(this.href, 'popup', caracteristicas);


            return false;
        });
        //botones
        $("#crear").click(function () {
            //alertify.alert("Boton Iniciado");
            //console.info('hola');
            var i = 0;
            var envio = "{fecha:'" + $("#fecha").val() + "',idpaciente1:'" + $("#paciente2 option[value='" + $('#idpacientes1').val() + "']").attr('data-id') + "',MotivoCita:'" + $("#MotivoCita").val() + "',idCita:'" + $("#idCita").val()+ "',IdCabecera:'2',Examenes:'" + $('#Examenes').val() + "',";




            envio += "}";
            var json = eval("(" + envio + ')');

            //alertify.alert("INGRESE DATOS");
            console.info(json);
            var miUrl = '@Url.Action("GuardarCita", "CitasAgendadas")'

            $.ajax({
                url: miUrl,
                data: JSON.stringify(json),
                type: "POST",
                async: false,//this makes the ajax-call blocking
                contentType: 'application/json;charset=UTF-8',
                dataType: 'json',
                success: function (response) {
                    //alertify.alert(response);
                        //    position: 'center',
                        //    title: response,
                        //    showConfirmButton: false,
                        //    timer: 1500

                    //})
                 var logoutUrl = '@Url.Action("Index", "CitasAgendadas")';
                        window.location.href=logoutUrl;
                    @*if (response == "Cita Guardada") {
                        var logoutUrl = '@Url.Action("Index", "CitasAgendadas")';
                        window.location.href=logoutUrl;


                    }*@

                },
                error: function (error) {
                    alertify.alert(error);
                    //Swal.fire({
                    //    position: 'top-end',
                    //    type: 'success',
                    //    title: error,
                    //    showConfirmButton: false,
                    //    timer: 1500
                    //})

                }
            });

        });

    });
</script>
<script>
    $(document).ready(function () {

         $('.modaleliminar').click(function () {
            var href = $(this).attr("href");
            var url = "@Url.Action("Delete", "CitasAgendadas", new { id="param-name"})";
             var paciente = $("#idCita").val();
                url=url.replace("param-name",paciente);
            $(".comprobante").load(url)
        });

    });
</script>