@model SpointLiteVersion.Models.CitasAgendadas

@{
    ViewBag.Title = "Delete";
    Layout = null;
}

<p style="font-size:18px;">Estas Seguro de eliminar el siguiente registro?</p>
<style>
    #crear{
        display:none;
    }
</style>
<dl class="dl-horizontal">
   

    <dt>
        @Html.DisplayNameFor(model => model.MotivoCita)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.MotivoCita)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.paciente.nombre)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.paciente.nombre)
    </dd>

</dl>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <button type="submit" class="btn btn-danger btnelimina elimaaccion" id="elimin"><i class="fas fa-trash"></i></button>

    </div>
}

<script src="~/Content/bower_components/jquery/dist/jquery.min.js"></script>
